<div class="container">
  <h1>User Registration</h1>
  <form
    action="
    "
  >
    <div class="from-group">
      <label for="firstname">FirstName</label><br />
      <input type="text" name="firstname" class="form-control" />
    </div>
    <pre></pre>
    <div class="from-group">
      <label for="lastname">LastName</label><br />
      <input type="text" name="lastname" class="form-control" />
    </div>
    <pre></pre>
    <div class="from-group">
      <label for="email">Email</label><br />
      <input type="text" name="email" class="form-control" />
    </div>
    <pre></pre>
    <div class="from-group">
      <label for="password">Password</label><br />
      <input type="text" name="password" class="form-control" />
    </div>
    <pre></pre>
    <button class="btn btn-primary" type="submit">Submit</button>
  </form>
</div>
